* {
  box-sizing: border-box;
  margin: 0;
  font-family: math;
}
body {
  background-color: green;
  height: 100vh;
  padding: 2rem;
}
header {
  margin-top: 4rem;
}
header h1 {
  text-align: center;
}
.main-content {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}
.incorrect-letter-container {
  width: 25%;
  padding: 1rem;
  border: 3px solid black;
}
.incorrect-letter-container-header {
  text-align: center;
}

.incorrect-letter-container-letter {
  font-size: 5rem;
  margin: 0.5rem;
  display: flex;
  display: flex;
  flex-wrap: wrap;
}
.correct-letter-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.correct-letter-container-letter {
  border: 3px solid black;
  width: 80px;
  height: 80px;
}
.incorrect-letter-img {
  width: 25%;
}
.incorrect-letter-img-content {
  width: 80%;
}

#ground,
#head,
#body,
#arms,
#legs,
#scaffold {
  display: none;
}
